@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: TBD; */
  scroll-behavior: smooth;
}

ul {
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Permanent Marker', cursive;
}